
.comment-list {
  max-width: 610px;
  margin: 0 auto;
  padding: 20px; 
  background-color: #f5f5f5; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 

}
@media (max-width: 480px) {
  .comment-list {
    max-width: 100%; 
    padding: 10px; 
  }
}
